* {
    margin: 0%;
    padding: 0%;
}

.nav a {
    text-decoration: none;
    /* 取消下划线 */
    color: rgb(107, 35, 174);
}

.nav ul li a {
    /* font-size: 1.1em; */
    font-weight: bold;
    /* 加粗字体 */

}

.nav {
    /* 导航栏高度 */
    height: 60px;
    background-color: rgb(209, 209, 218);
    box-shadow: 10px 10px 10px -8px rgb(0, 0, 0, 3);
    /* 阴影 */
    transition: 0.3s;
    /*k*/
    width: 500%;
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    _position: absolute;
    /* 定义为绝对位置 */
    _top: expression(documentElement scrollTop+"px");
    /* 把导航栏放在垂直滚动条的顶端 */
    z-index: 9999;

}

/* 导航栏 */
.nav:hover {
    box-shadow: 10px 10px 10px -4px rgb(0, 0, 0, 3);
    transition: 0.3s;
}

/* 导航栏内容 */
.nav ul li {
    list-style: none;
    /* 取消圆点 */
    margin: 0 10px 0;
    margin-top: 20px;
    float: right;
    /* 清除右浮动 */
    text-align: right;
}

/* 鼠标悬停 */
.nav .aa1:hover {
    /* color: pink; */
    font-size: 1.6vh;
    font-size: 2.05vh;
    padding-bottom: 1px;
    padding-right: 1px;
    border-bottom: 5px solid #1d25ff;
    transition: 0.2s;

}

.nav a:active {
    /* 点击时 */
    color: aqua;
    border-bottom: 0px;

}

.nav .div-s {
    /*     width: 200px;
    height: 300px; */

    /* border-bottom: 5px solid #1d25ff; */
    /*     background-color: pink; */
    margin-top: 5%;
    display: none;

}

/* 城市背景定位 */
.nav .div-s .div-s1 {
    width: 400px;
    height: 200px;
    /* 内容展开定位 */
    border-radius: 5%;
    /* 背景圆角 */
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 10px -4px rgb(0, 0, 0, 0.5);
    padding-right: 8%;
    /* text-align: left; */
    /* padding: 0 50% 0 0; */
    position: relative;
    left: 37%;
    top: 5%;
    z-index: 999;
    /* 磨砂效果 */
    backdrop-filter: blur(2px);
}

.nav ul li:hover .div-s {
    display: block;
}

.nav ul li .div-s .div-s1 a:hover {
    /* font-size: 2.2vh; */
    padding-bottom: 1px;
    padding-right: 1px;
    border-bottom: 5px solid #1d25ff;
    transition: 0.3s;

}

/* 隐藏内容字体颜色 */
.nav ul li .div-s a:link,
.div-s1 a:visited {
    color: rgb(40, 4, 41);
}

/* 隐藏内容字体颜色 */
.nav ul li .div-s .div-s1s1 a:link,
.div-s1 .div-s1s1 a:visited {
    color: rgb(40, 4, 41);
}

/* 隐藏内容定位 */
.nav .div-s .div-s1 .div-s1s1 {
    position: relative;
    right: 128px;
}