/* 字体(四川旅游景点) */
.h1 {
    width: 600px;
    font-family: "华文行楷";
    font-size: 6em;
    color: cornflowerblue;
    /* padding-top: 5%; */
    margin-top: 5%;
    position: relative;
    right: -31%;
    /* font-size: calc(1920); */
}

a {
    /* 取消下划线 */
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.main-box {
    width: 100%;
    height: 500%;
    /* 弹性布局 */
    display: flex;
    /* 平均分布( 左右有间隔 ) */
    justify-content: space-around;
    flex-wrap: wrap;
}

/* 图片高/宽 */
.main-box img {
    width: 450px;
    height: 300px;
    /* margin: 15px; */
    /* 设置明暗度 */
    filter: brightness(90%);
    /* 设置图片明暗度( 兼容Chrome、Safari、Opera ) */
    /* -webkit-filter: brightness(90%); */
    /* 设置图片圆角 */
    border-radius: 30px;
}

/* 鼠标移入改变图片明暗度 */
.main-box img:hover {
    /* 设置明暗度 */
    filter: brightness(50%);
    /* 设置图片明暗度( 兼容Chrome、Safari、Opera ) */
    /* -webkit-filter: brightness(60%); */
    transition: 0.5s;

}

/* 字体 */
.main-box h2 {
    font-family: 华文楷体;
    /* padding: 1% %; */
    /* 文字自适应 */
    /* font-size: calc(200vw*24/1920); */
    text-align: center;
}

/* 字体宽度 */
.main-box h1 {
    width: 150px;

}

/* 1 */
.main-box .imgs-1 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    /* 鼠标手型 */
    cursor: pointer;
    /* 溢出裁剪 */
    overflow: hidden;
}

.main-box .imgs-1 h1 {
    text-align: center;
    /* 相对定位 */
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
    text-align: center;
}

/* 鼠标移入 */
.main-box .imgs-1:hover h1 {
    opacity: 1;
    font-size: 33px;
    /* 设置过度 */
    transition: 0.8s;
    margin: -38% auto;

}

/* 2 */
.main-box .imgs-2 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-2 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    opacity: 0;
    font-size: 0px;
}

/* 鼠标移入 */
.main-box .imgs-2:hover h1 {
    transition: 0.8s;
    margin: -38% auto;
    opacity: 1;
    font-size: 33px;
}

/* 3 */
.main-box .imgs-3 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-3 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
}

.main-box .imgs-3:hover h1 {
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;
}

/* 4 */
.main-box .imgs-4 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-4 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
}

.main-box .imgs-4:hover h1 {
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;
}

/* 5 */
.main-box .imgs-5 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-5 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;

}

.main-box .imgs-5:hover h1 {
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;

}

/* 6 */
.main-box .imgs-6 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-6 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
}

.main-box .imgs-6:hover h1 {
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;
}

/* 7 */
.main-box .imgs-7 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-7 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
}

.main-box .imgs-7:hover h1 {
    text-align: center;
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;
}

/* 8 */
.main-box .imgs-8 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-8 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
}

.main-box .imgs-8:hover h1 {
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;
}

/* 9 */
.main-box .imgs-9 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-9 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
}

.main-box .imgs-9:hover h1 {
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;
}

/* 10 */
.main-box .imgs-10 {
    width: 451px;
    height: 335px;
    margin-top: 50px;
    border-radius: 30px;
    /* 鼠标手型 */
    cursor: pointer;
    overflow: hidden;
}

.main-box .imgs-10 h1 {
    text-align: center;
    position: relative;
    top: 0%;
    font-size: 0px;
    opacity: 0;
}

.main-box .imgs-10:hover h1 {
    opacity: 1;
    font-size: 33px;
    transition: 0.8s;
    margin: -38% auto;
}

/* 页尾样式 */
footer {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #005eff;
    line-height: 25px;
    padding-top: 20px;
    position: relative;
}